###### Requirements without Version Specifiers ######`
pyqt5
WAM-Core
yongshi-pynfc

###### Requirements with Version Specifiers ######`
# pyqt5 >= 0.6.1             # Version Matching. Must be version 0.6.1